 .contenedor{
   height: 100%;
   padding: 5%;
   max-width: 100%;
   width: 100% !important;
   background-color: #F7F7F7;
   margin: 0%;
   border-radius: 2px;
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   overflow: hidden;
}
.contenedor h1
{
    text-align: center;
    font-size: 2.8em;
    font-family: roboto;
}
.contenedor h3
{
    text-align: justify;
    font-size: 1.5em;
    font-family: roboto;
    font-style: italic;
}
.contenedor input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.contenedor input,select{
    width: 97%;
    height: 25px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    /*padding: 12px;*/
}

select option{
 font color: pink;
 font-style: normal;
}
label{
    width: 100%;
    }
.nogrid{
    display:inline-block !important;
    width: 9% !important;
}
.move{
    width: 100%;
    text-align: center;
}

.btn{
    background-color: #008CBA; /*blue*/
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display:line-block;
    font-size: 16px;
    width: 20%;
}
