/*
.container
{

max-width: 720px;
}

.BuscarAlumno form
{
	margin:0%;
	width: 100%!important;
	
}
.BuscarAlumno form input
{
	margin:0% 1% 0% 0%!important;
	display: inline-block!important;
	width: 49%!important;
}
*/